

/* styles notes for the new air site */ 


body{
    background-color: #ffffff;     
}
p {
    color: #666666;
    background-color: #e2e2e2
}

/* other colors to use 
#B14813 - semrush


/* ========= viper-vape ============ */


/*
COLOR #FFFFFF
font family open sans,Ariel,Helvetica,Sans Serif

highlights on the page are :
header, footer, buttons, prices, rust color #D46641
also uses font 'OSWALD'
htags are #666666
a:hover {
    #BAB9B9
}
blue #4B80B2
button{
    #4B80B2
    
}
========================      */
